<%- include("partials/header"); -%>
    <h1 style="color: #333333; text-align: center;">About</h1>
  <p style="color: #666666; text-align: center;">Welcome to Suraj's personal blog! We are passionate about sharing knowledge and providing valuable content to our readers.</p>
  <div style="text-align: center;">
    <img src="images/profile.jpg" alt="Profile Picture" style="width: 200px; height: 200px; border-radius: 50%;">
  </div>
  <p style="color: #666666; text-align: center;">Feel free to explore our articles and leave comments. We appreciate your support!</p>
<%- include("partials/footer"); -%>
